{% extends "base.html" %}

{% block content %}
 <div class="row">
    <div class="col-lg-12">
        <h1>{{nombre}}</h1>
        <h2>{{modulo}}</h2>
        <table class="table table-bordered">
        {%for dato in datos%}
        <tr>
            {%for row in dato%}
            <td class="text-center"><strong>{{row}}</strong></td>
            {% endfor %}
        </tr>
        {% endfor %}
        </table>
        <hr/>
        {%for tit,practica in datos2%}
        <h3>{{tit}}</h3>
        <table class="table table-bordered">
            {%for dato in practica%}
            <tr>
                {%for row in dato%}
                <td class="text-center"><strong>{{row}}</strong></td>
                {% endfor %}
            </tr>
            {% endfor %}
            </table>
            {% endfor %}


    </div>
</div>
{% endblock %}
