{% extends "base.html" %}


{% block content %}
 <div class="row">
    <div class="col-lg-12">
        <h2>Ciclo Superior</h2>
        <div class="list-group">
        {% for cab in gs %}
        <a class="list-group-item" href="ver/gs/{{forloop.counter0}}">
              {{cab}}
          </a>
      {% endfor %}
      </div>
           <hr/>
         <h2>Ciclo Medio</h2>
        <div class="list-group">
        {% for cab in gm %}
        <a class="list-group-item" href="ver/gm/{{forloop.counter0}}">
              {{cab}}
          </a>
      {% endfor %}
      </div>
    </div>
</div>


{% endblock %}
